body,
.p {
  font-family: $f_default;
  font-size: 16px;
  color: $c_default;
  line-height: 1.4;
}

a { color: $c_default; }



// Editor basics
.editor p { margin-bottom: 15px; }



// Headings
.h1,
.editor h1 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
}

.h2,
.editor h2 {
  font-size: 21px;
  font-weight: 700;
  line-height: 1.2;
}

.h3,
.editor h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
}

.h4,
.editor h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

.h5,
.editor h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

.h6,
.editor h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}



// List styles
.ul,
.editor ul:not(.wp-block-gallery) {
  margin-bottom: 30px;

  li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 10px;
  }
  li:last-child { margin-bottom: 0; }

  li:before {
    position: absolute;
    top: 6px;
    left: 0;
    width: 6px;
    height: 6px;
    background: $c_primary;
    border-radius: 50%;
    content: '';
  }
}